@charset 'utf-8';
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul,ol {
  list-style: none;
}
/* card-wrap */
.card-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}